@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #39304A;
}

body {
    font-family: sans-serif;
}

.ds {
    display: flex;
}

button.ds {
    padding: 2px 8px;
    border-color: var(--color-primary);
    border-radius: 2px;
    border-width: 1px;
    color: var(--color-primary);
    margin: 4px;
    justify-content: center;
}

button.ds:hover, button.ds:active {
    background-color: var(--color-primary);
    color: white;
}

label.ds {
    flex-direction: column;
}

form.ds {
    flex-direction: column;
    gap: 8px;
}

dialog.ds {
    min-width: 50%;
    flex-direction: column;
    padding: 16px;
    border-radius: 2px;
}

ol.timeline {
    counter-reset: list-number;
    padding-top: 2px;
}

ol.timeline li {
    border-left: 2px solid var(--color-primary);
    padding-left: 16px;
    margin-left: 8px;
    position: relative;
}

ol.timeline li:before {
    counter-increment: list-number;
    content: counter(list-number);
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 8px;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -9px;
    top: -2px;
}

ol.timeline li:last-child {
    border-left: 2px solid transparent;
}
